.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    background-color: wheat;
    padding: 0 20px;
    
}
.logo{
    width: 50px;
    border-radius: 10px;
    margin: 0.5rem;
}

.nav-items ul{
    display: flex;
    list-style: none;
    font-size: 24px;
    font-weight: 500;
}
.nav-items ul li{
    padding-left: 1.5rem;
}

.filter{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.search{
    width: 50vw;
    height:fit-content ;
    /* margin: 1rem; */
    /* margin-left: 10%; */
    padding: 10px;
    text-align: center;
}
.search input{
    padding:5px 10px ;
    outline: none;
    border-radius:20px;
}
.filter-btn{
    margin: 10px;
    padding: 5px;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    background-color: rgb(173, 173, 190);
    color: white;
    font-weight: 500;
    font-size: 20px;
}
.filter-btn:hover{
    filter: grayscale(0.5);
    transition: all 200ms;
    transform: scale(0.8);
    
}

.restraunt-container{
    display: flex;
    flex-wrap: wrap;
    margin-left: 100px;
    margin-right: 100px;
}
.restraunt-card{
    width: 20%;
    border-radius: 15px;
    margin: 1rem 1.5rem;
    
}
.restraunt-card:hover{
    border: 0.1px solid rgb(134, 129, 129);
    transition: all 200ms;
    transform:scale(0.9) ;
    cursor: pointer;
}

.restraunt-logo{
    background-size: cover;
    border-radius: 15px;
    width: 100%;
}
.shimmer-container{
    display: flex;
    flex-wrap: wrap;
    margin-left: 100px;
    margin-right: 100px;
}
.shimmer-card{
    width: 20%;
    height:300px;
    border-radius: 15px;
    margin: 1rem 1.5rem;
    background-color: #f0f0f0;
}

.login{
    border: none;
    border-radius: 10px;
    margin:0 10px ;
    padding:0 15px;
    font-size: 20px;
    background-color: rgb(80, 80, 236);
    color: #f0f0f0;
}

.login:hover{
    transform: scale(0.9);
    cursor: pointer;
}
.menu {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.Cafe-name{
    margin-top: 10px;
    margin-left: 10%;
}
.cafe-detail{
    margin: auto;
    width: 50%;
    height: fit-content;
    border: 1px solid black;
    border-radius: 10px;
}
.cafe-img{
    width: 10px;
    height: 50px;
}